<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>

  <div class="field form-group">
    <%= form.text_field :first_name, class:'form-control', placeholder:'First Name' %>
  </div>
  <br>

  <div class="field form-group">
    <%= form.text_field :last_name, class:'form-control', placeholder:'Last Name' %>
  </div>
  <br>

  <div class="field form-group">
    <%= form.text_field :email, class:'form-control', placeholder:'Email' %>
  </div>
  <br>

  <div class="field form-group">
    <%= form.text_field :phone, class:'form-control', placeholder:'Phone' %>
  </div>
  <br>

  <div class="field form-group">
    <%= form.text_field :twitter, class:'form-control', placeholder:'Twitter' %>
  </div>
  <br>


  <div class="field form-group">
    <%= form.text_field :website, class:'form-control', placeholder:'Website' %>
  </div>
  <br>
  
  <div class="field form-group">
    <%= form.text_field :street, class:'form-control', placeholder:'Street' %>
  </div>
  <div class="field form-group">
    <%= form.text_field :city, class:'form-control', placeholder:'City' %>
  </div>
  <div class="field form-group">
    <%= form.text_field :state, class:'form-control', placeholder:'State' %>
  </div>
  <div class="field form-group">
    <%= form.number_field :zip_code, class:'form-control', placeholder:'Zip Code' %>
  </div>
  <br>

  <div class="field form-group">
    <%= form.number_field :user_id, id: :contact_user_id, class:'form-control', value:current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-dark'  %>
  </div>
<% end %>
