
<div class="jumbotron">
  <h1 class="display-4">
    <%= @contact.first_name %> <%= @contact.last_name %>
  </h1>
  <p class="lead">Email: <%= @contact.email %></p>
  <p class="lead">Phone: <%= @contact.phone %></p>
  <p class="lead">Twitter: <%= @contact.twitter %></p>

  <p class="lead">Website: <%= @contact.website %></p>
  <br>
  <h2>Address</h2>
  <p class="lead">Street: <%= @contact.street %></p>
  <p class="lead">City: <%= @contact.city %></p>
  <p class="lead">State: <%= @contact.state %></p>
  <p class="lead">Zip Code: <%= @contact.zip_code %></p>

  <hr class="my-4">
  <p class="lead">
    <%= link_to 'Edit', edit_contact_path(@contact), class:'btn btn-dark' %> |
    <%= link_to 'Destroy', @contact, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %> |

    <%= link_to 'Back', contacts_path, class:'btn btn-dark' %>
  </p>
</div>
