
<div class="jumbotron">
  <h1 class="display-4">
    <%= @contact.first_name %> <%= @contact.last_name %>
  </h1>
  <p ><strong>Email: </strong><%= @contact.email %></p>
  <p ><strong>Phone: </strong><%= @contact.phone %></p>
  <p><strong>Twitter: </strong><%= @contact.twitter %></p>

  <p><strong>Website: </strong><%= link_to @contact.website, "http://#{@contact.website}", target: "_blank" %></p>
  <p><strong>Address: </strong><%= @contact.street %>, <%= @contact.city %>, <%= @contact.state %> <%= @contact.zip_code %></p>
  <br>


  <hr class="my-4">
  <p class="lead">
    <%= link_to 'Edit', edit_contact_path(@contact), class:'btn btn-dark' %> |
    <%= link_to 'Destroy', @contact, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %> |

    <%= link_to 'Back', contacts_path, class:'btn btn-dark' %>
  </p>
</div>
